ZSH_THEME="minimal"

plugins=(
  fzf-zsh-plugin
  git
  z
  docker-compose
  docker
  zsh-syntax-highlighting
)


# Start TMUX with SSH connection
if [ -z "$TMUX" ] && [ "$SSH_CONNECTION" != "" ]; then
  tmux attach || tmux new-session
  exit
fi

alias clock='tty-clock -c -C 7 -D'

source ~/.oh-my-zsh/oh-my-zsh.sh
source ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh

